.container {
  max-width: 900px;
  width: 100%;
}

.title {
  margin-bottom: 0.5rem;
}

.description {
  color: #4b5563;
  margin-bottom: 3rem;
  line-height: 1.75;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.section {
  margin-bottom: 0;
}

.sectionTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #111827;
}


